* {
  box-sizing: border-box;
}
body {
  background-color: black;
}

#wrapper {
  background-color: #ddd; /* color gris */
}
#navbar {
  position: fixed; /* barra fijo arriba */
  top: 0;
  left: 0;
  height: 60px;
  background-color: black;
  display: block; /* agarre todo el espacio */
  width: 100%; /* todo el espacio de punta a punta */
  z-index: 10; /* siempre arriba de todos lo elementos de al pagina */
}
/* se aplica la misma propiedad flex a dos etiquetas */
#navbar nav,
.row {
  display: flex; /* display flex para los elementos de la barra */
}
#navbar nav a {
  flex: 0 0 25vw; /* cada a utiliza el 25 del view width y se reducen de manera proporcional */
  text-align: center; /* alineamos */
  font-size: 2em;
  color: #eee;
  text-decoration: none; /* sacamos los subrayados */
  height: 60px; /* setemos altura de la barra  despues se achica en dispositivos menores */
  line-height: 2em;
  cursor: pointer;
}

#navbar nav a:hover {
  background-color: #222;
  color: white;
}
/* crea espacio para cada "pagina" */
.pagina {
  height: auto;
  min-height: 100vh; /* el alto de toda la pagina cada div */
  padding: 60px 10px; /* 60 desde arriba 10 de los costados */
  background-color: #eee; /* color gris oscuro */
}
/* jumbotron componente llamar la atencion sobre algo */
.jumbotron {
  background-color: rgba(255, 255, 255, 0.5); /*color blanco y transparencia*/
  width: 80%; /* tamanio */
  margin: 100px auto;
  border: 5px solid white;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
/*tamanios customizados para el jumbotron */
.jumbotron h2 {
  text-transform: uppercase;
  font-size: 3em;
  color: black;
}

.jumbotron h3 {
  text-transform: uppercase;
  font-size: 2em;
  color: #222;
}
#home {
  background-image: url("https://img.freepik.com/free-photo/blurred-background_1417-1412.jpg?w=740&t=st=1665210020~exp=1665210620~hmac=1e6c1d6b8ab35d8b07e0362d69ff5d71d1a201447a7bf259560b61a2eebda0dd");
  background-size: cover;
}
.col {
  flex: 1; /*que ocupe todo el espacio posible y como es flex se ponen uno al lado del otro */
  border: 1px solid #ccc;
  padding: 10px;
}
.cuerpo {
  background-color: white;
  min-height: 60vh; /*para hacerlo mas corto */
  padding: 10px;
  font-size: 1.2em;
}
.pagina > h2 {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 8px;
  font-size: 2em;
}
/* wrap para que las tarjetas se acomoden en el container hacia abajo*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  flex: 0 0 30%; /* ocupa cada elemento el 33% */
  background-color: white;
  border-radius: 20px;
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 10px;
}
.card img {
  max-width: 100%;
}
.card h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: 0px;
  margin: 0;
}
.card salida {
  padding: 0 20px 20px;
}
.card .salida > button {
  background-color: lightgrey;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
@media all and (max-width: 640px) {
  #navbar nav a {
    /* cambiamos el tamanio de la barra de navegacion para disp. chicos */
    font-size: 1.2em;
    height: 30px;
  }
  #navbar {
    height: 30px;
  }
  .row {
    flex-direction: column; /*en la pantalla chica pasamos la columnas a fila para
                              que sean mas faciles de leer*/
  }
  .card {
    flex: auto;
  }
}
